@import "../../constants.scss";

.powerArmor {
  @extend .wrapper;
  .powerArmor__item {
    color: #fff;
    width: 100%;
    h3 {
      margin: 0;
      padding: 0;
    }
    .powerArmor__item--description {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      p {
        padding: 2%;
      }
      img {
        width: 150px;
        height: 250px;
        border-radius: $radius;
      }
    }
  }
}
