@import "../../constants.scss";

.home {
  margin: $margin-wrapper-xl;
  width: $width-wrapper-xl;
  .home__container {
    border: 1px solid #fff;
    // background-image: url(../../assets/img/fwp5.jpg);
    background-color: $background-wrapper;
    background-size: cover;
    border-radius: $radius;
    padding: $padding-wrapper-xl;
    height: 100%;
    margin-right: 5%;
    .home__container--items {
      display: flex;
      align-items: center;
      margin-top: 15px;
      p {
        padding: 0;
        width: 100%;
        color: $secondaryColor;
        padding-left: 25px;
      }
      img {
        width: 325px;
        height: 200px;
      }
    }
  }
}
@media (max-width: 600px) {
  .home {
    margin-left: 0;
    .home__container {
      .home__container--items {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        p {
          padding: 0;
        }
        img {
          width: 90%;
          height: 200px;
        }
      }
    }
  }
}
