$primaryColor: #7d5a0d;
$secondaryColor: #d8c7ad;

$radius: 15px;

$width-wrapper-xl: 70%;
$margin-wrapper-xl: 25px 0 25px 6%;
$padding-wrapper-xl: 1% 2%;
$background-wrapper: rgba(
  $color: #000000,
  $alpha: 0.7
);

.wrapper {
  width: $width-wrapper-xl;
  background-color: $background-wrapper;
  border-radius: $radius;
  padding: $padding-wrapper-xl;
  margin: $margin-wrapper-xl;
  border: 1px solid #fff;
}
